.carousel .carousel-slides-container {
  position: relative;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: min(50vw, 400px);
}

.carousel .carousel-slide .carousel-slide-image picture {
  position: relative;
  display: block;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .carousel-slide .carousel-slide-content {
  padding: 16px;
  position: relative;
  width: 100%;
}

.carousel .carousel-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding: 12px;
}

.carousel .carousel-slide-indicator button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: 2px solid var(--border-color);
  background-color: transparent;
  cursor: pointer;
}

.carousel .carousel-slide-indicator button[disabled] {
  background-color: var(--border-color);
  cursor: default;
}

.carousel .carousel-slide-indicator button span {
  display: none;
}

.carousel .carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  transform: translateY(-50%);
  pointer-events: none;
}

.carousel .carousel-navigation-buttons button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  pointer-events: auto;
  position: relative;
}

.carousel .carousel-navigation-buttons button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
}

.carousel .slide-prev::after {
  transform: translate(-30%, -50%) rotate(-135deg);
}

.carousel .slide-next::after {
  transform: translate(-70%, -50%) rotate(45deg);
}
