.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.table table tbody tr {
  border-bottom: 1px solid var(--border-color);
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 0.5em;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

.table.no-header table tbody tr {
  border-top: 1px solid var(--border-color);
}

.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}

.table.bordered table th,
.table.bordered table td {
  border: 1px solid var(--border-color);
}
